:root {
  --main-bg-color: rgb(255, 255, 255);
  --text-color: rgb(7, 6, 1);
}

html {
  height: 100vh;
  padding: 0px;
  background-color: var(--main-bg-color);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html:fullscreen {
  background-color: var(--main-bg-color);
}

body {
  padding: 1em;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  width: 100%;
  min-width: 60ch;
  margin: auto;
  height: 100%;
  min-height: fit-content;
  overflow-x: hidden;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  overscroll-behavior-y: contain;
}

table {
  border-collapse: collapse;
  width: 100%;
}
.survey-header {
  font-weight: 300;
  width: 100%;
}

.survey-header div{
  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items: stretch;
  font-weight: 300;
  width: 100%;
}

.survey-header div label{
  font-weight: bold;
}

.survey-header div select{
  font-weight: bold;
}
article {
  display: grid;
  grid-template-columns: 4em 1fr;
  border: 1px solid black;
  width: 100%;
  margin-Top: 1em;
}

.article-banner {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.article-banner p {
  vertical-align: Top;
}
.article-body {
  display: inline-block;
}

.head-question {
  padding: 0.5em;
  font-weight: bold;
  width: 100%;
}

select {
  height: 100%;
  margin: 0;
  width: 100%;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
.img-inp {
  opacity: 0;
}

tbody {
  width: 100%;
}
tr{
  width: 100%;

}
td{
  border: solid 1px black;
}

@media only screen and (max-width: 850px) {

}

@media all and (display-mode: standalone) {

}
