
.survey-header {
    font-weight: 300;
    width: 100%;
}

    .survey-header div {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: stretch;
        font-weight: 300;
        width: 100%;
    }

        .survey-header div label {
            font-weight: 600;
        }

        .survey-header div select {
            font-weight: 600;
        }

#document-date-container{
    border-bottom: 1px solid black;
    width: 12ch;
    display:block;
    margin: 0 0 1rem auto;
}

.wide{
    min-width:20rem;
}

.full-width {
    width: 100%;
}
.text-state-multiline {
    width: 100%;
    height: fit-content;    
    cursor: text;
    background-color: #DDDDDD;
}

.two-line {
    min-height: 2.2em;
}

.three-line {
    min-height: 3.3em;
}
.four-line {
    min-height: 4.4em;
}
.five-line {
    min-height: 5.5em;
}
.six-line {
    min-height: 6.6em;
}
article {
    display: grid;
    grid-template-columns: 4em 1fr;
    border: 1px solid black;
    width: 100%;
    margin-Top: 0.5em;
    margin-bottom: 0.5em;
    page-break-inside: avoid;
}

.article-banner {
    display: inline-block;
    text-align: center;
    cursor: pointer;

}

    .article-banner p {
        vertical-align: Top;
    }

.questionary-article > .article-banner {
    background-image: url('../images/camera_icon.svg');
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.article-body {
    display: inline-block;
}

.head-question {
    padding: 1ch;
    font-weight: 600;
    width: 100%;
}

.td-question {
    padding: 1ch;
}
.td-question-result {
    width: 25ch;
}
input {
    font-size: 14pt;
}
select {
    height: 100%;
    margin: 0;
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    select::-ms-expand {
        display: none;
    }


.hidden-controls {
    visibility: hidden;
    position: absolute;
}
table {
    border-collapse: collapse;
    width: 100%;
}
tbody {
    display: table;
    width: 100%;
}
th {
    width : 4em;
    font-weight : normal;
    border: 1px solid black;
}

tr {
    width: 100%;
    border: 1px solid black;
}

td {
    border: solid 1px black;
    padding: 0.2em;
}

.discussion-row {
    height : 10em;
}

.vertical-text {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
}

@media print {
    .questionary-article > .article-banner {
        background-image: none;
    }
    input {
        font-size: 10pt;
    }
    select {
        padding:0;
    }
    .text-state-multiline{
        background-color:transparent;
    }

}